<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="localConnection" connectionString="Data Source=localhost;Initial Catalog=UDCP-dev;Integrated Security=True"/>
	</connectionStrings>
	<appSettings>
		<add key="projectName" value=".NET学习总结"/>
	</appSettings>
</configuration>

<!--配置文件的名字必须是 App.Config，一般来说配置分为两种：数据库连接字符串和一些系统级别可变参数-->
